#!/usr/bin/expect -f

spawn "passwd"
expect "Old Password:"
send "{{ old_password }}\r"
expect "New Password:"
send "{{ new_password }}\r"
expect "Retype New Password:"
send "{{ new_password }}\r"
expect eof